body {
  background: url("fondo.jpg");
  background-repeat: no-repeat;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
#entrada {
  width: 10rem;
  height: 10rem;
}
#tarjeta {
  display: flex;
  flex-direction: column;
}
.btn {
  width: 15rem;
}
#random {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 15em;
  height: 10em;
}

.btn-primary:target {
  color: aqua;
  background-color: white;
}

.btn-dark:hover {
  background-color: grey;
}

.btn-dark:target {
  background-color: white;
  color: black;
}
input {
  width: 10em;
  border-radius: 5px;
}

#padre {
  align-self: center;
  display: grid;
  grid-template-columns: 6em 6em 6em 6em 6em;
  grid-template-rows: 6em 6em 6em 6em;
}
#padre div {
  border: 2px solid black;
}

div img {
  width: 5.8em;
  height: 5.8em;
}

#myChart {
  background-color: white;
  width: 50rem;
}

#myChart{
 background: fixed;
}